<!DOCTYPE html>
<html>
  <head>
    <title>Stormboards | Welcome</title>
    <link rel='stylesheet' href='../../css/app.css' />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../../css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-select.min.css">
  </head>
  <body>


    <div class="container-fluid app">
      <div id="topbar">
        <div class="left-holder">
          <div class="topbar-left">
            <h3><i class="pe-7s-menu" id="toggleSidebar"></i> <span id="logotop">Stormboards</span></h3>
          </div>
        </div>
        <div class="right-holder">
          <div class="col-sm-8">
            <div class="topbar-middle">
              <input type="text" autocomplete="off" class="form-control" placeholder="Search for boards, workspaces, cards..."></input>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="topbar-right">
              <ul>
                <li><i class="pe-7s-help1 nav-icon help-icon"></i></li>
                <li>
                  <div class="btn user-profile-btn" id="btnAddNew-dropdown">
                    <i class="pe-7s-plus nav-icon plus-icon"></i>
                  </div>
                </li>
                <li>
                  <div class="btn user-profile-btn user-profile-main">

                   <span><img class="user-picture" src="img/<%=user.picture%>"></img> <b><%=user.fullName%></b> <i class="pe-7s-angle-down"></i>
                </div>
              </li>
              </ul>

              <div class="user-options">
                <ul>
                  <a href="#"><li><i class="pe-7s-user"></i> Profile</li></a>
                  <a href="#"><li><i class="pe-7s-tools"></i> Settings</li></a>
                  <a href="#"><li> <i class="pe-7s-keypad"></i> Shortcuts</li></a>
                  <a href="#"><li><i class="pe-7s-help1"></i> Help</li></a>
                  <hr>
                  <a href="/logout"><li><i class="pe-7s-power"></i> Sign Out</li></a>
                </ul>
              </div>

              <div class="addNewDialog-dropdown">
                <ul>
                  <a href=""><li>
                    <b>New Board</b>
                    <div class="description">
                      Create your new board to brainstorm ideas, track a daily todo list, plan new project from start to finish, and much more.
                    </div>
                  </li></a>
                  <a href=""><li>
                    <b>New Workspace</b>
                    <div class="description">
                      Organize your boards by grouping them into workspaces, and managing them as a one whole.
                    </div>
                  </li></a>
                  <a href=""><li>
                    <b>New Team</b>
                    <div class="description">
                      Collaborate with your colleagues, manage team roles, and put important updates on the team dashboard.
                    </div>
                  </li></a>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="sidebar-column">
        <div id="sidebar">
          <div id="spreaded">
            <!-- <div class="userInfo">
              <img class="profileImg" src="img/<%=user.picture%>"></img>
              <h4><%=user.fullName%></h4>
              <p><%=user.email%></p>

            </div> -->
            <nav>
              <ul>
                <a href="/boards"><li><i class="pe-7s-photo-gallery"></i> Boards</li></a>
                <a href="/workspaces"><li><i class="pe-7s-albums"></i> Workspaces</li></a>
                <a href="#"><li><i class="pe-7s-users"></i> Teams</li></a>
                <a href="#"><li><i class="pe-7s-graph1"></i> Statistics</li></a>
                <a href="#"><li><i class="pe-7s-trash"></i> Archive</li></a>
                <a href="/test"><li>Test</li></a>
                <a href="/test2"><li>Test2</li></a>
              </ul>
            </nav>

<!--             <div class="bottom">
              <ul>
                <a href="#"><li>ico Account</li></a>
                <a href="#"><li>ico Settings</li></a>
                <a href="/logout"><li>ico Logout</li></a>
              </ul>
            </div> -->
          </div>

          <div id="collapsed">
            <p>collapsed</p>
            <!--TODO ovde izgenerisati html kako ce izgledati colapsovan sidebar-->
          </div>
        </div>
      </div>
      <div class="workspace-column">
        <div id="workspace">
          <div id="workspace-content">

          </div>

      </div><!--kraj workspacea-->
      <!--Popup bio ovde-->

      </div><!--kraj workspace columna-->

    </div>


    <script src="../../js/jquery.min.js" charset="utf-8"></script>
    <script src="../../js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../../js/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="../../api/boards/createBoard.js" charset="utf-8"></script>
    <script src="../../interaction/newBoard.js" charset="utf-8"></script>
    <script src="../../js/velocity.js" charset="utf-8"></script>
    <script src="../../js/page.js" charset="utf-8"></script>
    <script src="../../js/routing.js" charset="utf-8"></script>
    <script src="../../interaction/sidebarCollapse.js" charset="utf-8"></script>
    <script src="../../interaction/topbar.js" charset="utf-8"></script>
  </body>
</html>
