<div id="pageContent">
<h2>Boards</h2>
<h4 class="subtitle">All boards that you are currently working on.</h4>
<div class="container-fluid">
  <div class="top col-md-12">

    <div class="col-md-3">
      <button class="btn button-blue button-small" id="btnAddNewBoard"><b>New Board</b></button>
    </div>

    <div class="col-md-offset-6 text-right">
      <button class="btn button-change-view button-active-view"><b><i class="pe-7s-keypad"></i></b></button>
      <button class="btn button-change-view button-non-active-view"><b><i class="pe-7s-menu"></i></b></button>

      <select data-width="150px" title="<b>Type</b> All" class="selectpicker">
        <option title="<b>Type</b> All">All</option>
        <option title="<b>Type</b> Project">Project</option>
        <option title="<b>Type</b> Idea">Idea</option>
        <option title="<b>Type</b> Brainstorm">Brainstorm</option>
        <option title="<b>Type</b> ToDo">ToDo</option>
      </select>
    </div>
  </div>

  <div class="group-title">
    <h5><b>All boards</b></h5>
  </div>


  <div class="main-content">
    <div class="row board-row" id="allBoards">

        <!-- <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="board board-Todo loading">
          <h4><b>Proba</b></h4>
          <div class="type-title"><h5><b>titl</b></h5></div>
          <p>desc</p>
        </div>
      </div> LOADING TEST-->

      <% if(hasBoards) {%>
        <% boards.forEach(function(board) {%>
          <a href="<%=board._id%>">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="board board-<%=board.boardType%>" id="<%=board._id%>">
                <div class="pin"><i class="pe-7s-pin"></i></div>
                <div class="more"><i class="pe-7s-more"></i></div>
                <div class="title-wrapper">
                  <h4><b><%= board.title%></b></h4>
                </div>
                <div class="type-wrapper">
                  <div class="type-title"><h5><b><%= board.boardType%></b></h5></div>
                </div>
                <div class="description-wrapper">
                  <p class="description"><%= board.description%></p>
                </div>


                <div class="more-dropdown" id="dropdown-<%=board._id%>">
                  <ul>
                    <li class="edit-board"><i class="pe-7s-pen"></i> Edit</li>
                    <li><i class="pe-7s-albums"></i> Add to workspace</li>
                    <li><i class="pe-7s-users"></i> Add to team</li>
                    <hr>
                    <li class="archive-board"><i class="pe-7s-trash"></i> Archive</li>
                  </ul>
                </div>

              </div>
            </div>
          </a>
        <% }); %>
      <%} else {%>
        <div id="noBoardsMsg">
          <h2>Nema boardova</h2>
        </div>
      <%}%>
    </div>


  </div>
</div>

</div>
<!--Ðdd popup-->
<% include partials/_addPopup.ejs %>

<!--Edit popup-->
<!--Here goes edit popup-->

<!--Confirm delete-->
<% include partials/_confirmArchivePopup.ejs %>

<!--Modals-->
<% include partials/_modals.ejs %>